svg {
    border: 1px solid blue;
    opacity: 1;
    background-color: white;
}

div#status {
    border: 1px solid blue;
    width: 25%;
    background-color: lightgrey;
}

input#target{
width: 100px;
}