<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thermostat</title>
       {% if use_web_fonts %}
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic' rel='stylesheet' type='text/css'>
    <link href='https://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css' rel='stylesheet' type='text/css'>
    {% endif %}
    <link href='static/css/bootstrap/3.2.0/bootstrap.min.css' rel='stylesheet' type='text/css'>
    <link href='static/css/metricsgraphics.css' rel='stylesheet' type='text/css'>
    <link href='static/css/temperatures.css' rel='stylesheet' type='text/css'>

    {% if use_jquery %}
    <!-- jquery is only used to display the graph description -->
    <script src='static/js/libs/jquery/3.1.0/jquery.min.js'></script>
    {%endif %}
    <script src="static/js/libs/d3js/d3.v4.min.js"></script>
    <script src='static/js/libs/metricsgraphics.min.js'></script>
</head>
<body>


<div class="container">
        <div class='head'>
            <p class="text-center">
                {{datetime}} <br />

            </p>
        <div class="content">
            <div class="row">
             <div class="col-sm-1">
                <h3>Lundi</h3>
                    <p>
                        {% for event in schedule.monday() %}
                        {{ event.0 }} {{ event.1.temperature }}<br />
                        {% endfor %}
                    </p>
                </div>
                <div class="col-sm-2">
                <h3>Mardi</h3>
                <p>
                    {% for event in schedule.tuesday() %}
                    {{ event.0 }} {{ event.1.temperature }}<br />
                    {% endfor %}
                </p>
                </div>
                <div class="col-sm-2">
                <h3>Mercredi</h3>
                <p>
                    {% for event in schedule.wednesday() %}
                    {{ event.0 }} {{ event.1.temperature }}<br />
                    {% endfor %}
                </p>

                </div>
                <div class="col-sm-1">
                <h3>Jeudi</h3>
                <p>
                    {% for event in schedule.thursday() %}
                    {{ event.0 }} {{ event.1.temperature }}<br />
                    {% endfor %}
                </p>

                </div>
                <div class="col-sm-2">
                <h3>Vendredi</h3>
                <p>
                    {% for event in schedule.friday() %}
                {{ event.0 }} {{ event.1.temperature }}<br />
                {% endfor %}
                </p>
                </div>
                <div class="col-sm-2">
                <h3>Samedi</h3>
                <p>
                    {% for event in schedule.saturday() %}
                    {{ event.0 }} {{ event.1.temperature }}<br />
                    {% endfor %}
                </p>
                </div>
                <div class="col-sm-2">
                <h3>Dimanche</h3>
                <p>
                    {% for event in schedule.sunday() %}
                    {{ event.0 }} {{ event.1.temperature }}<br />
                    {% endfor %}
                </p>
                </div>
               </div>
            <div class="row">
                <div class="text-center" id="temperatures"> </div>
            </div>
            <div class="row">
                <div class="text-center"><a href="schedule">données</a></div>
            </div>
        </div>
    </div>
        <script language="javascript">
        d3.json('schedule', function(data) {
            for (var i = 0; i < data.length; i++) {
                data[i] = MG.convert.date(data[i], 'date','%Y-%m-%d %H:%M');
            }

            MG.data_graphic({
                title: "Températures {{date_time }}",
                description: "Chauffage pour la semaine",
                data: data,
                width: 1000,
                height: 600,
                point_size: 4,
                target: '#temperatures',
                legend: [ 'thermostat', 'temperature' ],
                legend_target: '.legend',
                //aggregate_rollover: true,
                colors: ['#00DD00', '#0000DD','#DD0000', '#BB00BB','#00BBBB','#BBBB00'],
                european_clock: true
            });
        });
        </script>
    </div>
</body>
</html>